
<div class="container">
    <hr>
    <div class="row mb-5">
        <div class="col text-center">
            <small class="text-muted">
                {{ $startYear := "2018" }}
                {{ $curYear := now.Format "2006" }}
                {{ if eq $curYear $startYear }}
                {{ $curYear }}
                {{ else }}
                {{ $startYear }}&mdash;{{ $curYear }}
                {{ end }}

                Cooperative Engineering
                |
                <a class="text-muted" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International License
                </a>
                |
                <a class="text-muted" href="/michael-wilson.asc.gpg">GPG</a>
            </small>
        </div>
    </div>
</div>
