<div class="container">
    <nav class="navbar navbar-expand-md navbar-light mb-3">
        <a href="/" style="position:relative; left: -1.5rem;">
            <img
                src="/img/cooperative-engineering-inline.svg"
                alt="Cooperative Engineering"
                style="max-height: 3.5rem;"
                title="Cooperative Engineering Home">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{ range .Site.Menus.sidebar }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</div>
