<div class="alert alert-{{ default "secondary" (.Get "type") }}" role="alert">
    {{ $icon := .Get "icon" }}
    {{ with .Get "headline" }}
    <h4>
        {{ if ne $icon "" }}
        <i class="{{ $icon }}"></i>
        {{ end }}
        {{ . }}
    </h4>
    {{ end }}
    {{ .Inner }}
</div>
