<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <style type="text/css" media="all">
            @font-face {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 400;
                src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(/fonts/Inconsolata-Regular.ttf) format('truetype');
            }

            div.highlight pre {
                padding: 0.25rem;
                border: 1px solid rgba(0,0,0,0.125);
                border-radius: 0.25rem;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
            }
            div.highlight pre code {
                font-family: 'Inconsolata', monospace;
                font-size: 1rem;
                line-height: 1rem;
            }

            article.post h1 { font-size: 2rem; }
            article.post h2 { font-size: 1.75rem; }
            article.post h3 { font-size: 1.5rem; }
            article.post h4 { font-size: 1.25rem; }
            article.post h5 { font-size: 1.125rem; }
            article.post h6 { font-size: 1rem; }
            article.post img {
                border-radius: 0.25rem;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
            }

            img.bg {
                position: absolute;
                top: -60vw;
                left: -60vw;
                width: 150vw;
                opacity: 0.05;
            }

            div.alert { border-left-width: 4px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; }

            div.alert p:nth-last-child(1) {
                margin-bottom: 0;
            }

            nav#TableOfContents ul {
                list-style: none;
                padding: 0;
            }
            nav#TableOfContents ul ul {
                list-style: none;
                padding: 0 0 0 1rem;
            }
            nav#TableOfContents > ul {
            }

            nav#TableOfContents > ul > li > ul {
                font-weight: 300;
            }

            nav#TableOfContents > ul > li > ul > li > ul {
                font-weight: 200;
            }

            nav#TableOfContents li {
                line-height: 2rem;
            }

            nav#TableOfContents {
            }

        </style>

        <title>
            {{ $site_title := .Site.Title }}
            {{ with .Params.Title }}
            {{ . }} - {{ $site_title }}
            {{ else }}
            Custom Software Built by the Owners | {{ .Site.Title }}
            {{ end }}
        </title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fontawesome-free-5.5.0-web/css/all.min.css" >
        <link rel="stylesheet" href="/syntax.css">
		<link rel="icon" type="image/png" href="/favicon.png">
    </head>
    {{- partial "head.html" . -}}
    <body>
        <img class="bg" src="/img/gear.svg" alt="">

        {{- partial "header.html" . -}}


        {{- block "premain" . }}{{- end }}

        <div class="container" id="content">
            {{- block "main" . }}{{- end }}

            {{- partial "footer.html" . -}}
        </div>

        <script src="/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
