{{ define "main" }}
<div class="row">
    <div class="col-sm-3 d-none d-md-block">
        <div class="sticky-top pt-2">
            {{ .TableOfContents }}
        </div>
    </div>

    <div class="col-sm-9">
        <h1>
            {{ .Title }}
        </h1>
        <h4>
            <small class="text-muted">
                {{ dateFormat "2 Jan 2006" .Date }}

                <span class="small">
                    {{ with .Params.authors }}
                    by {{ delimit . ", " }}
                    {{ end }}
                </span>
            </small>
        </h4>

        {{ with .Params.subtitle }}
        {{ . }}
        {{ end }}

        <article class="post">
            {{ .Content }}
        </article>
    </div>
</div>
{{ end }}
