{{ define "main" }}
<h1>Recent Articles</h1>
<hr>


{{ $posts := .Paginate (where .Data.Pages "Type" "posts") }}

{{ range $posts.Pages }}
{{ $link := .RelPermalink }}

<div class="row mb-4">
    <div class="col-md-auto d-none d-md-block">
        {{ with .Resources.GetMatch "article-image" }}
        <a href="{{ $link }}">
            <img class="img-thumbnail" src="{{ .Permalink }}"
                                            alt="Generic placeholder image" style="max-width: 200px;" >
        </a>
        {{ else }}
        <a href="{{ $link }}">
            <img class="img-thumbnail" src="/post-image-placeholder.png"
                                            alt="Generic placeholder image" style="max-width: 200px;" >
        </a>
        {{ end }}
    </div>
    <div class="col-md">
        <h5 class="card-title">
            <a href="{{ $link }}">{{ .Title }}</a>
            <small class="text-muted">
                {{ dateFormat "2 Jan 2006" .Date }}
            </small>
        </h5>
        {{ .Summary }}
    </div>
</div>
{{ end }}
{{ end }}
