{{ define "premain" }}
<div class="row mb-5 mt-4 py-4" style="background-image: url(/img/noise.png), linear-gradient(0deg, #DC3434, #A02A2A); filter: drop-shadow(0.8rem 0.5rem 0.5rem rgba(0,0,0,0.3)">
    <div class="container">
        <div class="col">
            <h1 class="display-4" style="color: white; filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0,0,0,0.4)">
                <span >
                    Custom software built by the owners.
                </span>
            </h1>
            <p class="lead">
            <span style="background-color:rgba(255, 255, 255, 0.35); padding:0.2rem 0; line-height: 2.1rem;">
                We're an on-shore cooperative of software engineers, designers,
                and leaders.
                We create custom software for organizations who need a partner
                with a stake in their success.
            </span>
            </p>
        </div>
    </div>
</div>
{{ end }}

{{ define "main" }}
<div class="row align-items-lg-center my-5">
    <div class="col-lg-6">
        <!--https://www.flickr.com/photos/locosteve/23589859561/-->
        <img src="lp-2.jpg" class="img-fluid rounded shadow-lg" alt="">
    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
        <h1>We Deliver Value</h1>

        <p class="lead">
            Our employee-owners take home a much greater share of client rates
            as compared to traditional software consultants. How? We have no
            owners or shareholders other than ourselves. Better compensation
            attracts higher skill and competency. The bottom line is that
            Cooperative Engineering delivers better software for your budget.
        </p>
    </div>
</div>

<div class="row align-items-lg-center my-5">
    <div class="col-lg-6 order-lg-2">
        <!--https://www.flickr.com/photos/williamismael/13170023985/-->
        <img src="lp-1.jpg" class="img-fluid rounded shadow-lg" alt="">
    </div>
    <div class="col-lg-6 order-lg-1 mt-3 mt-lg-0">
        <h1>We Have a Stake</h1>
        <p class="lead">
            When partnering with Cooperative Engineering, every person you work
            with is an owner. As employee-owners, each member of Cooperative
            Engineering has a clear stake in helping you succeed with the
            software we build. Unlike other consultants, members of Cooperative
            Engineering are empowered with the agency that comes with
            ownership, freeing them to share with you their unencumbered
            creativity and perspective.
        </p>
    </div>
</div>

<div class="row align-items-lg-center my-5">
    <div class="col-lg-6">
        <!--https://www.flickr.com/photos/tomasot/2521961293/-->
        <img src="lp-3.jpg" class="img-fluid rounded shadow-lg" alt="">
    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
        <h1>We are Experts</h1>

        <p class="lead">
            Every member of Cooperative Engineering has a history of shipping
            software for successful companies. We know what it takes to deliver
            value in a commercial setting. Individually and collectively, we
            are passionate about software and technology. Our members
            frequently make  meaningful contributions to the open source
            software community. We are a group of unique, multifaceted
            individuals. We want to meet and share our creativity with you.
        </p>
    </div>
</div>
{{ end }}
